name: Lint


on:
  push:
    branches: [ "main", "feature/*" ]
    paths:
      - '**/*.py'
  pull_request:
    branches: [ "main", "feature/*" ]

jobs:
  lint:
    name: Lint Code with Flake8
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.1'

      - name: Install Flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Run Flake8
        run: |
          # Run Flake8 on the code directory (replace 'src' with your directory if different)
          flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 src --count --max-complexity=10 --max-line-length=127 --statistics
